notes.txt
.vscode
notes2.txt
PhsyicsLibrary.zip

# Ignore build directories and artifacts
/build/
/lib/
/server/src/main/java/org/spaceinvaders/gameEngine/libs/

# Ignore compiled object files
*.o

# Ignore shared libraries
*.so
*.dll
*.dylib

# Ignore Java class files
*.class

# Ignore JAR files
*.jar

# Ignore generated JNI header files
include/

# Ignore logs, temp files, and other editor artifacts
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
